body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  padding: 5px 5px;
  border: 1px solid black;
  border-top: 0px;
  list-style: none;
}

.nav-item {
  border: 2px solid black;
  width: fit-content;
}

.initial-message {
  border-top: 1px solid black;
}

.error-message {
  color: red;
  font-weight: bold;
}

.user-msg {
  font-weight: bold;
}

.msg-window {
  height: 5%;
  position: absolute;
  display: flex;
}

.chat-box {
  width: 80%;
}

.chat-button {
  width: 5%;
}